.header {
    background-image: url('../images/header/banner.jpg');
}

.services.index .services-item {
    height: 520px;
}



.services.index .services-item.row-same {
    height: 400px;
}

.breadcrumb-header.account {
    background: url('../images/header/1.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.advisery {
    background: url('../images/header/5.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.tax {
    background: url('../images/header/2.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.tech {
    background: url('../images/header/3.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.who {
    background: url('../images/header/6.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.equity {
    background: url('../images/header/4.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.contact {
    background: url('../images/header/7.jpg');
    background-position: center;
    background-size: cover;
}

.breadcrumb-header.office {
    background: url('../images/header/8.jpg');
    background-position: center;
    background-size: cover;
}

.portfolio.index .portfolio-item {
    height: 400px;
}

@media screen and (min-width:576px) and (max-width:768px) {
    .table-query {
        display: inline-table;
        text-align: center;
    }
}
@media screen and (max-width:576px) {
    .breadcrumb-header{
        text-align: center;
    }
    .footer .logo p{
        margin-top:20px;
    }

    #nav-bar .container-fluid{
        margin:0px !important;
        border-radius: 0px !important;
    }
    #nav-bar.nav-bar{
        padding: 0px !important;
    }
    .footer .footer-title h4 {
        margin-bottom: 10px;
    }

    .portfolio.index .portfolio-item,
    .services.index .services-item {
        height: unset !important;
    }

    .services.index .services-item.row-same {
        height: unset !important;
    }

    .custom-height {
        height: unset !important;
    }

    h6.font-indus {
        font-size: 15px;
    }

    .quote.index {
        padding: 20px 0px;
    }

    .breadcrumb-header .breadcrumb-info h1 {
        font-size: 26px;
    }

    .sec-title h3 {
        font-size: 28px;
    }
}

.active {
    color: #D5AA6D !important;
}

.about.index {
    background: none;
}

.office-card {
    box-shadow: 5px 5px 2px gray;

    &:hover {
        transition: all 0.2s linear;
        transform: translateY(-10%);
    }
}

h4.font-16 {
    font-size: 14px !important;
}

.contact-us a:hover {
    color: #D5AA6D;
}

.sec-title h2:after,
.sec-title h2:before {
    content: '';
}

.performance-and-quote {
    background-image: url('../images/contact-bg.jpg');

}
.logo-box {
    color: #D5AA6D;
    padding: 22px 0px;
    border-radius: 0px 0px 10px 10px;
    width: auto;
}

.logo-box-2 {
    color: #D5AA6D;
    padding:  0px;

}

.logo-box-2  h2{
font-weight: 700;
}
#nav-bar{
    padding: 0px 10px !important;

}

@media screen and (min-width:1116px) {
    .breadcrumb-header{
        background-position: center 20%  !important;
    }
    .nav-bar .collapse-nav-bar > ul ul {
left: -170px;
max-width: 300px !important;
width: 260px;
}
    #nav-bar .container-fluid{
        padding: 0px 80px !important;

    }
}
@media screen and (max-width:1116px) {


    .about .text-box .core-about-us li h4 {
        font-size: 13px;
    }
.logo-box-2 h2{
font-size: 1.4rem;
}

    .logo-box {
        width: 200px;

    }

    .logo-box h1 {
        font-size: 1.4rem;
    }

    .logo-box-2 {
        padding: 0px;
        width: 200px;

    }

    .logo-box-2 h3 {
        font-size: 18px;
    }
}

.sec-title h2 {
    padding: 0px;
}

.breadcrumb-header .breadcrumb-info h1 {
    text-transform: capitalize;
}

.font-bold {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

@media screen and (min-width:992px) and (max-width:1116px) {
       .newsCard {
  height: 270px !important;
    }
           .nav-bar .collapse-nav-bar > ul ul {
left: -190px !important;
max-width: 300px !important;
width: 260px;
}

    #nav-bar .container-fluid{
        padding: 0px 28px !important;
    }
    .nav-bar .collapse-nav-bar ul li a {
   font-size: 16px !important;
    }
    .logo-box{
        padding: 33px 0px !important;
    }
    .portfolio.index.custom-h .portfolio-item {
        height: 470px !important;
    }

    .row.service-index .services-item {
        height: 350px !important;
    }

    .services .services-item {
        height: 580px !important;
    }

    .services .services-item.h-auto {
        height: unset !important;
    }

    .custom-height {
        height: 450px !important;
    }

    h6.font-bold {
        font-size: 13px;
    }

}

@media screen and (max-width:992px) {

    .nav-bar .collapse-nav-bar.active{
        overflow: hidden;
    }
    .nav-bar .collapse-nav-bar {

padding-bottom: 20px !important;
max-height: unset !important;
    }
    .nav-bar .collapse-nav-bar ul li a {

font-size: 13px !important;
    }

    .sec-title,
    .buttons {
        text-align: center !important;
    }

    h6.font-bold {
        font-size: 16px;
    }

}

@media screen and (min-width:767px) and (max-width:992px) {
    .portfolio-item.custom-height {
        height: 380px !important;
    }

}

.font-indus {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

@media screen and (max-width:767px) {

    .office-card {
        margin-bottom: 20px;
    }

    .portfolio.index.custom-h .portfolio-item {
        height: unset !important;
    }

    .services.index .services-item {
        height: unset !important;
    }

    .services.index .services-item.row-same {
        height: unset !important;
    }
}

@media screen and (min-width:767px) and (max-width:1116px) {


    .services.index .services-item.row-same {
        height: 580px !important;
    }

    h6.font-indus {
        font-size: 12px;
    }
}

.custom-height {
    height: 350px;
}

.services .services-item {
    height: 300px;
}

.team .team-item .item-img {
    height: 300px;
    object-fit: cover;
}

.btn-1 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.text-gold {
    color: #D5AA6D;

    &:hover {
        color: #D5AA6D;
    }
}

.tax-title h4 {
    font-weight: 600;
    margin: 0px 10px;
    text-transform: capitalize;
    color: #343434;
    font-size: 18px;
    line-height: 1.3;
}

.px-custom-r-0 {
    padding-left: 10px;
}

a.acetrot {
    color: #D5AA6D;
}

.table-query {
    display: inline-table !important;
    text-align: center !important;
}

.nav-bar .collapse-nav-bar ul li a{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}
.logo-box h1{
    font-weight: 700;
}
#nav-bar .container-fluid{
    background: #F4EEEE;
    border-radius: 20px;
    margin-top: 10px;
    padding-right: 20px;
}
.bg-active{
    color: #D5AA6D !important;
}
.nav-bar .collapse-nav-bar > ul > li > a:before{
    content: none;
}
/* body
{
    font-family: unset !important;
} */
.header-bar.active .nav-bar
{
    background-color: unset;
}
.nav-bar .nav-bar-menu{
    border-color:#000 !important;

}

.nav-bar .nav-bar-menu span{
    background:#000 !important ;
}
.nav-bar .collapse-nav-bar > ul ul {
left: -130px;
}

.level-2 li a
{
    color:#ccc !important;

    &:hover{
        color: #D5AA6D !important;
    }
}

.level-2 li a.active
{
    color:#D5AA6D !important;
}
.overlay {
background-color: rgba(27, 26, 26, 0.5);
}
.footer .contact-us span
{
    font-family: 'Raleway';

}
.footer .links li a,.footer .logo p{
    font-size: 16px;
}

.breadcrumb-header .breadcrumb-info .list-breadcrumb li:hover a{
color:#D5AA6D;
}
.breadcrumb-header .breadcrumb-info .list-breadcrumb li:hover{
    color:#ffffff;
    }
    .nav-bar .collapse-nav-bar ul li.has-menu > a:after {
right:20px;

    }

    @media screen and (max-width:350px) {
        h6.font-bold,.services .services-item h4, h6.font-indus {
            font-size: 14px;
        }
    }

    li.has-menu:after {
        content: '\f0d7';
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        position: absolute;
        top: 43%;
        right: -15px;
        color: #000;

    }
    li.has-menu a:hover li.has-menu:after {
 color: #D5AA6D !important;

    }
    ul.industry {
        width: min(70rem, 100%);
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        justify-content: center;
        gap: 2rem;
        list-style: none;
      }
      ul.industry li {
        max-width: 12rem;
        justify-self: center;
        display: grid;
        grid-template:
          "icon"
          "line"
          "dot"
          "title"
          "descr" 1fr;
        justify-items: center;
        align-items: flex-start;
        text-align: center;
      }

      ul.industry li .icon {
        grid-area: icon;
        width: 6rem;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        color: white;
        font-size: 2.5rem;
        border: 0.4rem solid var(--bgColor);
        border-radius: 50%;
        background:#D5AA6D;
        box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
          inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);

      }

      ul.industry li::before {
        content: "";
        grid-area: line;
        height: 2rem;
        border-right: 2px dotted currentColor;
      }

      ul.industry li::after {
        content: "";
        grid-area: dot;
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background:#D5AA6D;
        justify-self: center;
        margin-bottom: 0.5rem;
      }

      ul.industry li .title {
        grid-area: title;
        margin-block: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
        color: #000;
      }
.indus-icon{
    filter: brightness(0) invert(1);
}
.indus-li:hover .indus-icon{

    transform: scale(1.2);
}
.newsCard img{
    height: 100%;

}
.newsCard {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 1rem auto;
    background-color: #fff;
    color:#fff;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .newsCaption {
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: .6;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 15px;
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
  }

  .newsCaption-title {
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .newsCaption-content {
    margin: 0;
    line-height: 20px;
  }

  .news-Slide-up:hover .newsCaption {
    opacity: .9;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
  }
  
  .footer .reserved{
        padding: 20px 0px;
        line-height: 1.6;
    }
